{% extends "/default.html" %}
{% block content %}
<div class="form-container">
    <form action="" method="POST" class="account-form">
        <h1>Login to PyPI</h1>
        <input name="email" type="text" placeholder=" Your email address" class="form-control"
               value="{{ email }}" required>
        <input name="password" type="password" placeholder="Password" class="form-control"
               value="{{ password }}" required>
        <button type="submit" class="btn btn-danger">Log In</button>
        <div style="clear: both;"></div>
        <div class="error-msg">
            {% if error %}
            {{ error.error_code }}
            {{ error.error_message }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block additional_css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/account.css">
{% endblock %}